<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="APIManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <httpRuntime   maxRequestLength="51200"    executionTimeout="3600"   />
  </system.web>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>

  
  
    <applicationSettings>
        <APIManage.Properties.Settings>
            <setting name="APIManage_WebReferenceAA_IHsCRMWebSrvservice"
                serializeAs="String">
                <value>http://222.173.107.76:8000/HisComSvr/HsCRMWebSrv.dll/wsdl/IHsCRMWebSrv</value>
            </setting>
            <setting name="APIManage_WebReferenceCC_IHsCRMWebSrvservice"
                serializeAs="String">
                <value>http://193.168.9.226:802/HsCRMWebSrv/HsCRMWebSrv.dll/soap/IHsCRMWebSrv</value>
            </setting>
            <setting name="APIManage_WebReference1_QueryCertiByHyCard" serializeAs="String">
                <value>http://193.168.9.226:801/QueryCertiByHyCard.asmx</value>
            </setting>
            <setting name="APIManage_wemediacn_SMSService" serializeAs="String">
                <value>http://www.wemediacn.net/webservice/smsservice.asmx</value>
            </setting>
        </APIManage.Properties.Settings>
    </applicationSettings>
</configuration>